<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaweb12S.dao.AdminDAO">


	<select id="getAllOnedayClassList"  resultType="com.spring.javaweb12S.vo.DbOnedayClassVO">
		select * from dbOnedayClass order by idx desc;
	</select>

	<select id="getChart1" resultType="com.spring.javaweb12S.vo.ChartVO">
		select productName, sum(totalPrice) as proTotalSum
		from dborder
		where orderdate >= date_sub(now(), interval 6 month)
		group by productName
		order by proTotalSum desc limit 4;
	</select>

	<select id="getChart2" resultType="com.spring.javaweb12S.vo.ChartVO">
		select month(orderDate) as salesMonth, sum(orderTotalPrice) as salesMonthPrice
		from dbbaesong bs
		where orderDate >= DATE_SUB(now(), interval 3 month)
		group by month(orderDate)
		order by month(orderDate);
	</select>

	<select id="getChart3" resultType="com.spring.javaweb12S.vo.ChartVO">
		select month(cl.cancelDate) as cancelMonth, sum(od.totalPrice) as cancelMonthPrice
		from dbOrder od
		join dbordercancel cl on od.idx = cl.cancelIdx
		where cl.cancelDate >= date_sub(now(), interval 3 month)
		group by month(cl.cancelDate)
		order by month(cl.cancelDate);
	</select>

	<select id="getOrder4" resultType="com.spring.javaweb12S.vo.DbBaesongVO">
		select * from dbbaesong order by idx desc limit 3;
	</select>
	
	<select id="getCancelOrder4" resultType="com.spring.javaweb12S.vo.DbOrderCancelVO">
		select * from dbOrderCancel order by idx desc limit 3;
	</select>
	
	<select id="getBoard4" resultType="com.spring.javaweb12S.vo.BoardVO">
		select * from board order by idx desc limit 3;
	</select>
	
	<select id="getclass4" resultType="com.spring.javaweb12S.vo.DbOnedayClassVO">
		select * from dbOnedayClass order by idx desc limit 3;
	</select>

	<select id="getWeekOrder" resultType="int">
		select count(*) from dbOrder where orderDate between date_sub(now(), interval 7 day) and now();
	</select>
	
	<select id="getWeekCancel" resultType="int">
		select count(*) from dbOrderCancel where cancelDate between date_sub(now(), interval 7 day) and now();
	</select>
	
	<select id="getWeekBoard" resultType="int">
		select count(*) from board where WDate between date_sub(now(), interval 7 day) and now();
	</select>
	
	<select id="getWeekClass" resultType="int">
		select count(*) from dbOnedayClass where appDate between date_sub(now(), interval 7 day) and now();
	</select>

	<select id="getNewProduct" resultType="com.spring.javaweb12S.vo.DbProductVO">
		select * from dbProduct order by idx desc; 
	</select>
	
	<select id="getNewProduct3" resultType="com.spring.javaweb12S.vo.DbProductVO">
		select * from dbProduct order by idx desc limit 3; 
	</select>
	
	<select id="getEventToday" resultType="com.spring.javaweb12S.vo.EventVO">
	  select * from event where mid=#{vo.mid} and substring(ymd,1,10)=date_format(#{vo.ymd}, '%Y-%m-%d');
	</select>
	
	<select id="getEventList" resultType="com.spring.javaweb12S.vo.EventVO">
		select mid,date_format(ymd, '%Y-%c-%e') as ymd from event where mid=#{mid} order by ymd;
	</select>
	
	<select id="getAllContactList" resultType="com.spring.javaweb12S.vo.ContactVO">
		<if test='part == "전체"'>
		select * from contact order by idx desc;
		</if>
		<if test='part != "전체"'>
		select * from contact where reply = #{part} order by idx desc;
		</if>
	</select>
	
	<select id="getOrderCancelOne" resultType="com.spring.javaweb12S.vo.DbOrderCancelVO">
		select * from dbOrderCancel where idx = #{idx};
	</select>
	
	<select id="getOrderCancelsOne" resultType="com.spring.javaweb12S.vo.DbOrderCancelVO">
		select * from dbOrderCancel where cancelIdx = #{idx};
	</select>
	
	<select id="getAllOptionList" resultType="com.spring.javaweb12S.vo.DbOptionVO">
	<![CDATA[select pro.productName, op.* from dbOption op, dbproduct pro where pro.idx = op.productIdx and op.optionStock <= 10;]]>
	</select>
	
	<select id="getReportReview" resultType="com.spring.javaweb12S.vo.DbReviewVO">
		select rv.*, rp.*, rp.idx as reportIdx 
		from dbreview rv, reportReview rp 
		where rv.idx = rp.reviewIdx and rv.reportNum=5 order by rv.idx desc; 
	</select>
	
	
	
	
	
	<insert id="getContactReply">
		insert into contactReply values (default, #{vo.contactIdx},default,#{vo.reContent});
	</insert>
	
	



	<update id="setBestReview">
		update dbReview set bestReview = #{bestReview} where idx = #{idx};
	</update>
	
	<update id="setAdminContactPartChange">
		update contact set reply = '답변완료' where idx = #{contactIdx};
	</update>
	
	<update id="setAdminContactReplyUpdate">
		update contactReply set reContent = #{reContent} where reIdx=#{reIdx} ;
	</update>
	
	<update id="setOrderCancelNo">
		update dbOrdercancel set cancelStatus = #{cancelStatus}, reason1 = #{reason1}, reason2 = #{reason2} where idx=#{idx} ;
	</update>
	
	<update id="setOrderCancelNo2">
		update dbOrder set status = #{orderStatus} where idx=#{cancelIdx} ;
	</update>

	<update id="setReportreviewRestore">
		update dbReview set reportNum=0 where idx = #{idx};
	</update>




  
  <delete id="setReviewDelete">
  	delete from dbReview where idx = #{idx};
  </delete>
  
  <delete id="setBoardDelete">
  	delete from board where idx = #{idx};
  </delete>
  
  <delete id="setNoticeDelete">
  	delete from notice where idx = #{idx};
  </delete>
  
  <delete id="setOnedayClassDelete">
  	delete from dbOnedayClass where idx = #{idx};
  </delete>
  
  
  
  
  
  
</mapper>