<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaweb12S.dao.ContactDAO">

	<select id="setContactList" resultType="com.spring.javaweb12S.vo.ContactVO">
		select * from contact where mid = #{mid} order by idx desc;
	</select>
	
	<select id="getContactContent" resultType="com.spring.javaweb12S.vo.ContactVO">
		select * from contact where idx = #{idx};
	</select>
	
	<select id="getContactReply" resultType="com.spring.javaweb12S.vo.ContactReplyVO">
		select * from contactReply where contactIdx = #{idx};
	</select>
	
	
	<insert id="setContactInput">
		insert into contact values (default, #{vo.mid},#{vo.title},#{vo.part},default,#{vo.content},#{vo.fName},#{vo.fSName},default);
	</insert>
	
	
	  <update id="setContactUpdate">
    <if test="vo.FName == ''">  <!-- 앞에서 vo의 FName를 받았기에 이곳에서는 필요없음 -->
      update contact set title=#{vo.title},part=#{vo.part},wDate=now(),content=#{vo.content} where idx=#{vo.idx};
    </if>
    <if test="vo.FName != ''">
      update contact set title=#{vo.title},part=#{vo.part},wDate=now(),content=#{vo.content},fName=#{vo.FName},FSName=#{vo.FSName} where idx=#{vo.idx};
    </if>
  </update>
	
	
	
	
	
	<delete id="setContactDelete">
		delete from contact where idx = #{idx};
	</delete>
  
</mapper>