<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaweb12S.dao.QnaDAO">
  <select id="totRecCnt" resultType="int">
    select count(*) from qna;
  </select>
  
  <select id="getQnaList" resultType="com.spring.javaweb12S.vo.QnaVO">
    select *, cast(timestampdiff(minute, wDate, now())/60 as signed integer) as diffTime from qna order by qnaIdx desc, idx limit #{startIndexNo},#{pageSize};
  </select>
  
  <select id="getEmail" resultType="String">
    select email from member where mid = #{mid};
  </select>
  
  <select id="getCountIdx" resultType="int">
  	select count(idx) from qna;
  </select>
  
  <select id="getMaxIdx" resultType="int">
  	select Max(idx) from qna;
  </select>
  <select id="getQnaContent" resultType="com.spring.javaweb12S.vo.QnaVO">
    select * from qna where idx = #{idx};
  </select>
  
  <select id="getQnaIdxCheck" resultType="com.spring.javaweb12S.vo.QnaVO">
    select * from qna where SUBSTRING_INDEX(qnaIdx, '_', 1)  = #{qnaIdx};
  </select>
  
  
  <insert id="qnaInputOk">
    insert into qna values (#{vo.idx},#{vo.qnaIdx},#{vo.mid},#{vo.nickName},#{vo.title},#{vo.email},#{vo.pwd},default,#{vo.content},#{vo.qnaSw});
  </insert>
  
  <update id="setQnaContentUpdate">
    update qna set title=#{vo.title},email=#{vo.email},wDate=now(),content=#{vo.content} where idx=#{vo.idx};
  </update>
  
  <update id="setQnaCheckUpdate">
    update qna set title=#{title} where idx = #{idx};
  </update>
  
  
  
  <delete id="setQnaDelete">
    delete from qna where idx = #{idx};
  </delete>
</mapper>